<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco bienestar</title>
    <link rel="shortcut icon" href="img/logo_small_icon_only_inverted.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href= "css/estilo2.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header id="encabezado">
      <img src="img/logo_large.png" class="logo-menu">
      </header>
      <nav id="menu">
      <ul>
      <li><a href="/index"> Inicio </a></li>
      <li><a href="#"> Acerca de nosotros </a></li>
      <li><a href="#"> Necesidades </a></li>
      <li><a href="#"> productos y servicios </a></li>
     </ul>
  </nav> 

  <section class="caja-sucursal">
    <div class="contentido">
      <h2>Sucursarl virtual</h2>

      <p>Ingresa a la sucursal virtual</p>
      <a href="/" class="btn">Entrar<i class="link"></i></a>
    </div>
  </section>


  <div class="contenedor-nav">
    <div class="caja-nav" id="nosotros">
      <div class="titulo"><h3>Acerca de nosotros</h3></div>
      <div class=texto><p>El Banco Pichincha  filial del Banco Pichincha Ecuador,  mayor banco privado, por capitalización y número de depositantes en este País; con su creciente y exitosa trayectoria en el sector financiero colombiano durante más de 50 años, como “Inversora Pichincha”, es autorizado para operar como Banco en junio de 2011.
Con sus líneas de crédito e inversión, el Banco Pichincha se convierte en un socio estratégico para sus clientes, pues aporta soluciones financieras para satisfacer sus necesidades con la seguridad y tranquilidad que le brinda su solidez.
Cuenta con canales de atención especializada como el call center, sistema de audio respuesta, portal transaccional, aplicación móvil y una red de oficinas localizadas en las principales ciudades del país.
Misión: Somos un Banco que, enfocado en la eficiencia, busca apoyar el crecimiento sostenible de nuestros clientes, colaboradores, accionistas y del país.
Visión: Ser un Banco de referencia en Colombia por la experiencia en el servicio, ofreciendo soluciones financieras adecuadas y centrando los esfuerzos hacia la anticipación de las necesidades de nuestro mercado objetivo.
      </p></div>
    </div>

  </div>

  <!-- cajas -->
  <div class="cajas">
    <div>
      <img src="img/caja1.jpeg" alt="" />
      <div class="cuadro">
      <h3>Preguntas frecuentes</h3>
      <p>¿Tienes dudas sobre el uso <br>de nuestros productos o <br>servicios? Resuélvelas aquí.
      </p>
      <a href="/preguntasfre">CONOCE MAS <i class="link"></i></a>
      </div>
    </div>
    <div>
      <img src="img/caja2.jpg" alt="" />
      <div class="cuadro">
      <h3>Como manejar tu dinero</h3>
      <p>Aprende a manejar tus finanzas<br> para que logres tus objetivos.
      </p>
      <div class="conoce"><a href="/manejardinero">CONOCE MAS <i class="link"></i></a></div>
      </div>
    </div>
    <div>
      <img src="img/caja3.jpeg" alt="" />
      <div class="cuadro">
      <h3>Las mejores inversiones</h3>
      <p>Existe una gran variedad de<br> productos en los cuales puedes<br> invertir.<br> Descubre los más conocidos.
      </p>
      <a href="/inversiones">CONOCE MAS <i class="link"></i></a>
      </div>
    </div>
    <div>
      <img src="img/caja4.jpg" alt="" />
      <div class="cuadro">
      <h3>Aprende sobre seguridad</h3>
      <p>Cómo mantener los datos a salvo
      </p>
      <a href="/seguridad">CONOCE MAS <i class="link"></i></a>
      </div>
    </div>
  </div>
  
    <!-- Footer -->
    <footer class="footer">

    <!-- Follow -->
    <section class="social">
        <p>Encuentranos Banco bienestar</p>
    <div class="links">
        <a href="https://facebook.com">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
        <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkdin.com">
        <i class="fab fa-linkedin"></i>
        </a>
        </div>
    </section>
    </div>

      <h3>Banco bienestar Copyright</h3>
      <img src="img/logo_small.png" alt="" class="footer-img" />
    </footer>


</body>
</html>