<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejores inversiones</title>
    <link rel="shortcut icon" href="img/logo_small_icon_only_inverted.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href= "css/inversiones.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header id="encabezado">
        <img src="img/logo_large.png" class="logo-menu">
    </header>  
    <nav id="menu">
        <ul>
          <li><a href="/index"> Inicio </a></li>
          <li><a href="#"> Acerca de nosotros </a></li>
          <li><a href="#"> Necesidades </a></li>
          <li><a href="#"> productos y servicios </a></li>
        </ul>
    </nav>

    <section class="caja-fre">
        <div class="contentido-fre">
          <h1>Las mejores inversiones</h1>
        </div>
      </section><br>
    

   <!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <div class="numbertext">1 / 5</div>
        <img src="img/slider.png" style="width:100%">
        <div class="text"><h2>Acciones</h2>
            <p>Las acciones simbolizan una parte del patrimonio de una sociedad o empresa. Es un título de participación, es 
            decir, cuando compras las de una empresa, te conviertes en socio.<br><br>

            Las acciones son títulos de renta variable pues su precio está sujeto a las condiciones del mercado, o sea que 
            si la compañía pasa por un buen momento, estas  también. De la misma manera, si la empresa atraviesa por 
            una crisis financiera, estos títulos perderán valor respecto a su precio inmediatamente anterior. Por esto, son 
            llamadas inversiones de alto riesgo.</p></div>
    </div>
    
    <div class="mySlides fade">
        <div class="numbertext">2 / 5</div>
        <img src="img/slider.png" style="width:100%">
        <div class="text"><h2>Bonos</h2>
            <p>Los bonos son títulos de deuda. Cuando adquieres uno le estás prestando recursos a la entidad que los emite. 
            Aquella empresa adquiere la obligación de devolverte el monto de la inversion más una suma de dinero 
            equivalente a los intereses que se comprometió a pagar, una vez transcurra un período de tiempo.<br><br>

            Dado que se trata de un título de deuda, cuando compras uno bono no te haces “socio” de la entidad que los emite,
            como sucede con las acciones, por lo que no recibes dividendos y no puedes participar en su asamblea.</p></div>
    </div>
  
    <div class="mySlides fade">
        <div class="numbertext">3 / 5</div>
        <img src="img/slider.png" style="width:100%">
        <div class="text"><h2>TES</h2>
            <p>Los títulos de deuda del gobierno (TES) funcionan igual que un bono solo que se consideran de “deuda 
            pública”, pues son expedidos por el Gobierno Nacional con el propósito de obtener recursos para el 
            financiamiento de sus actividades. Al igual que los bonos, en la fecha de su vencimiento se te paga el dinero 
            invertido más los intereses pactados.</p></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 5</div>
        <img src="img/slider.png" style="width:100%">
        <div class="text"><h2>CDT</h2>
        <p>El Certificado de Depósito a Término, CDT, es una modalidad de inversión en la cual le entregas dinero a una 
        entidad financiera por un plazo establecido previamente, para que al finalizar el tiempo pactado la entidad te 
        restituya dicho dinero junto con intereses.<br><br>

        Como inversionista no puedes exigir a la entidad financiera el pago del título antes de la fecha que fue 
        acordada, por lo que deberás ser cuidadoso a la hora de seleccionar tu alternativa de inversión y analizar tus 
        necesidades de efectivo durante dicho plazo.</p></div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">5 / 5</div>
      <img src="img/slider.png" style="width:100%">
      <div class="text"><br><h2>eTrading</h2>
       <p> Si quieres realizar inversiones en el mercado de valores de una manera ágil, cómoda y segura, aquí encontrarás una alternativa
        a la medida de tus necesidades. Ingresa a eTrading y aprende cómo comprar y vender acciones, sin salir de tu casa u oficina.<br><br>
        
        Bancolombia eTrading es la forma en la que el Grupo Bancolombia te conecta con los diferentes mercados mundiales, a través del
        ingreso y recepción de órdenes electrónicas.<br><br>
        
        Ahora eres tú quien nos dice cómo quieres hacer negocios con nosotros. En Bancolombia contamos con la tecnología y el equipo humano
        para que decidas cuál es el modelo que mejor se adapta a tus necesidades de inversión.<br><br>
        
        A través de nuestras plataformas podrás tener acceso al mercado accionario y a su profundidad en tiempo real; ingresar, modificar y
        cancelar tus órdenes sobre acciones de manera electrónica; monitorear en tiempo real, con el estado de las ejecuciones de órdenes, 
        transferir dinero desde y hacia tu cuenta de inversión sin salir de tu casa u oficina; y utilizar herramientas de análisis técnico
        para apoyar tus decisiones de inversión.</p> 
       </div>
    </div>
  
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    
    <span class="dot" onclick="currentSlide(1)"><i class="fas fa-bullseye"></i></span>
    <span class="dot" onclick="currentSlide(2)"><i class="fas fa-bullseye"></i></i></span>
    <span class="dot" onclick="currentSlide(3)"><i class="fas fa-bullseye"></i></span>
    <span class="dot" onclick="currentSlide(4)"><i class="fas fa-bullseye"></i></span>
    <span class="dot" onclick="currentSlide(5)"><i class="fas fa-bullseye"></i></span>
  </div>

<br><br>

  <footer class="footer">
    <section class="social">
        <p>Encuentranos Banco bienestar</p>
    <div class="links">
        <a href="https://facebook.com">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
        <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkdin.com">
        <i class="fab fa-linkedin"></i>
        </a>
        </div>
    </section>
    </div>

      <h3>Banco bienestar Copyright</h3>
      <img src="img/logo_small.png" alt="" class="footer-img" />
    </footer>


  <script src="js/inversiones.js"></script>
</body>
</html>