<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como manejar dinero</title>
    <link rel="shortcut icon" href="img/logo_small_icon_only_inverted.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="js/jquery-3.6.0.min.js"></script>
    <link href= "css/manejardinero.css" rel="stylesheet" type="text/css">
</head>

<body class="body-ejemplo">
    <header id="encabezado">
      <img src="img/logo_large.png" class="logo-menu">
      </header>
      <nav id="menu">
      <ul>
      <li><a href="/index"> Inicio </a></li>
      <li><a href="#"> Acerca de nosotros </a></li>
      <li><a href="#"> Necesidades </a></li>
      <li><a href="#"> productos y servicios </a></li>
     </ul>
  </nav><br>  


<section class="caja-fre">
    <div class="contentido-fre">
      <h1>Como manejar tu dinero</h1>
    </div>
  </section><br>


  <div class="accordion">
    <div>
      <input type="radio" name="example_accordion" id="section1" class="accordion__input" onclick="uncheckRadio(this)">
      <label for="section1" class="accordion__label">
        <div class="mane-cont">
          <div class="mane-cont1"><img src="img/maneimg1.jpg" class="imgacor"></div>
          <div class="mane-cont2"><h2>&nbsp&nbsp Todo lo que debes saber para empezar a ahorrar</h2><br>
          <p>Descubre por qué es importante ahorrar de manera correcta e <br>
            inteligente, para lograr tu patrimonio y alcanzar tus metas.<br> 
            Porque entendemos que es necesario conocer de temas como <br>
            cuál es la mejor forma de ahorrar, definir mis metas de ahorro o <br>
            cómo hacer rendir mi plata.</p>
          </div>
        </div>
      </label>
      <div class="accordion__content">
        <h3>¿Cómo identifico qué es un gusto y qué es una necesidad?</h3>
        <p>
          Entre gusto y necesidad hay una gran diferencia, pero a veces nos confundimos y terminamos tomando 
          malas decisiones. Una necesidad son cosas indispensables para nuestras vidas, por ejemplo tener un celular. 
          Sin embargo tener un celular de una marca exclusiva y particular es un deseo. Todo lo que queremos tener, 
          pero no es necesario es un deseo. Los deseos no son malos excepto cuando los tratamos como si fueran 
          necesidades y nos endeudamos por ellos.
        </p>
        <h3>¿Cómo saber cuál es la diferencia entre ahorrar e invertir?</h3>
        <p>
          A la hora de manejar el dinero es muy importante tener clara la diferencia entre ahorrar e invertir. 
          Ahorrar es el vehículo que te lleva a cumplir los sueños. Invertir es destinar una buena parte del 
          dinero de forma inteligente, buscando incrementar la cantidad de dinero mediante una rentabilidad. 
          La mejor forma de usar nuestros ahorros es invirtiendo.
        </p>
        <h3>¿Cómo hacer rendir la plata sin que sea un sacrificio?</h3>
        <p>
          A veces sentimos que la plata no nos alcanza, pero en realidad ¿no será que la estamos administrando 
          mal? A la hora de comprar no debemos dejarnos llevar por nuestras emociones, hay que planificar nuestros 
          gastos y tener un plan B para ahorrar sin hacer grandes sacrificios. ¡Hacer pequeños cambios en nuestro 
          día a día nos ayudará a hacer rendir mejor con lo que contamos! Reducir tus gastos es la manera más rápida 
          de ahorrar y depende 100% de tí. Ingresos - Gastos = Ahorro.
        </p>
        <h3>¿Cómo saber si tengo una relación saludable con la plata?</h3>
        <p>
          Al momento de gastar es importante tener un equilibrio entre la razón y la emoción. Identifica si ese gasto
          está influido por la emoción del momento o si es una decisión pensada con cabeza fría. El mal manejo de nuestras 
          finanzas puede afectar negativamente nuestra salud y emociones. Las principales ventajas de planear tus finanzas 
          es que te permite tener control y tomar decisiones financieras más acertadas.
        </p>
        <h3>¿Cómo tener un plan de ahorro exitoso?</h3>
        <p>
          Tener una meta clara, ¿para qué vas a ahorrar? Así evitarás gastarlo en otra cosa. ¿Cuánta plata necesitas? Determina 
          cuánto quieres ahorrar para cumplir tu meta y gasta solo lo que te queda disponible después de ahorrar. Ingresos - Ahorro = Dinero 
          disponible para gastar. ¿En cuánto tiempo? Define cuánto debes ahorrar mensualmente dividiendo el costo total en el tiempo en que 
          deseas cumplirlo.
        </p>
      </div>
    </div>
<div class="breaker"></div>
    <div>
      <input type="radio" name="example_accordion" id="section2" class="accordion__input" onclick="uncheckRadio(this)">
      <label for="section2" class="accordion__label">
        <div class="mane-cont">
          <div class="mane-cont1"><img src="img/maneimg2.jpg" class="imgacor"></div>
          <div class="mane-cont2"><h2>&nbsp&nbsp ¿Se puede tener un crédito sin vida crediticia previa?</h2><br>
          <p>Materializar un proyecto, una idea de negocio o adquirir un bien <br>
            puede necesitar un préstamo y para acceder a este,<br> 
            generalmente, es necesario contar con historial crediticio. <br>
            Pero si no lo tienes, ¿cómo sacar un crédito sin vida 
            crediticia?</p>
          </div>
        </div>
      </label>
      <div class="accordion__content">
        <p>
          No todo está perdido si aún no tienes un historial crediticio, es más, está todo por construir, es tu mejor oportunidad para ser visible e ir edificando tu imagen financiera que, sin duda alguna, será tu carta de presentación para el resto de tu vida, económicamente hablando. 
          Para todo lo que se construye en la vida hay que dar un primer paso. Por ello si tienes entre 18 y 24 años y temes gestionar un crédito o no lo solicitas porque consideras que nunca te lo darán, esta información puede serte útil. 
          Te contaremos cómo gestionar tus créditos y préstamos aún sin contar con vida crediticia, pero también te indicaremos por qué es importante crearlo y cómo mantenerlo para hacer realidad tu proyecto de vida y tus sueños. 
        </p>
        <h3> Créditos sin vida crediticia </h3>
        <p>
          Si es la primera vez que vas a solicitar un crédito, seguro que no podrás empezar solicitando grandes cantidades de dinero. Ahora, aunque no lo creas, puede ser que sí haya información tuya en las centrales de información crediticia.  
          Incluso, la mejor manera de crear una historia crediticia es con el ahorro. Tener una cuenta de ahorros es un primer paso, y que la uses constantemente permite conocerte mejor. Además, tener un celular o haber tenido un crédito educativo bien manejados, también son puntos a favor que, aunque no lo sepas, van sumando en tu historial.  
          Las tarjetas de crédito para estudiantes o para jóvenes son también una estrategia que cuentan como “biografía” dentro de las obligaciones financieras que se adquieren. Lo realmente importante es el buen comportamiento de pago: pequeñas deudas sin resolver se pueden convertir en reportes negativos que afectarán la posibilidad de 
          préstamos de mayor cantidad, como cuotas iniciales para moto, carro o apartamento. 
        </p>
        <h3>¿Cómo sacar un crédito sin vida crediticia?</h3>
        <p>
          Como decíamos antes, puede ser que sí tengas ya un historial en las centrales de información crediticia. Sin embargo, puedes empezar con los créditos de bajo monto, que te ayuden a crear tu perfil de riesgo crediticio y puedas acceder luego a otros mayores. 
          Para acceder, puedes contactarnos a través de nuestro sitio web o acercarte a una de nuestras sucursales, en donde uno de nuestros asesores te brindará toda la información necesaria y si estás de acuerdo, comenzar un estudio o análisis de crédito, en el que te 
          indicamos cuál es el cupo aproximado, requisitos y viabilidad. 
        </p>
      </div>
    </div>
    <div class="breaker"></div>
    <div>
      <input type="radio" name="example_accordion" id="section3" class="accordion__input" onclick="uncheckRadio(this)">
      <label for="section3" class="accordion__label">
        <div class="mane-cont">
          <div class="mane-cont1"><img src="img/maneimg3.jpg" class="imgacor"></div>
          <div class="mane-cont2"><h2>&nbsp&nbsp Ventajas del Leasing habitacional y Crédito de Vivienda: &nbsp&nbsp elige el que se ajuste a tu necesidad</h2><br>
          <p>Vas a adquirir vivienda, pero no sabes cuál modalidad de pago <br>
            te resultará mejor. Ya conoces el crédito de vivienda, pero también<br>  
            escuchaste del Leasing Habitacional, ¿cuál se ajusta mejor<br> 
            a tus necesidades? Descúbrelo aquí.</p>
          </div>
        </div>
      </label>
      <div class="accordion__content">
        <p>Quieres conseguir vivienda, pero no sabes si adquirir un Crédito para Comprar Vivienda o un Leasing habitacional. Del primero has escuchado toda tu vida y sabes en qué consiste, pero ¿y del segundo? Algunas personas lo han escuchado, otras poseen algún conocimiento, y hay otros que ya han hecho uso de esta modalidad, que, aunque no es nueva en el país, es una de las más solicitadas. <br><br>
          Ambas soluciones aplican para la solución financiera al momento de adquirir vivienda, pero cuentan con unas diferencias. <br><br>
          El Crédito de Vivienda te permite tener liquidez inmediata para la compra de un bien inmueble nuevo o usado y, de acuerdo con las condiciones pactadas, pagas mensualmente. Además, serás el propietario de esa casa o apartamento, que proporcionas al banco como garantía del crédito. Ten en cuenta los cobros que se pueden generar por la compra de la vivienda, como gastos notariales, rentas y registro, entre otros. <br><br>
          En el Leasing habitacional, recibes el inmueble en calidad de arrendamiento financiero, esto quiere decir que, a través de un contrato, puedes vivir en la vivienda a cambio de un pago mensual, como un arriendo, y al final del contrato, tendrás la posibilidad de transferir el inmueble a tu nombre o de un tercero. Ten en cuenta los cobros que se pueden generar por la compra, como gastos notariales, registro, entre otros. El inmueble es inembargable. 
        </p>
        <h3>¿Cómo sacar un crédito sin vida crediticia?</h3>
        <p>El beneficio de los créditos de vivienda es la posibilidad de ser propietario de esta desde el inicio del crédito. Estas son otras ventajas:
        </p>
        <ul> 
          <li>Tener una propiedad a tu nombre es crear patrimonio, que incluso puede servirte para futuros créditos. </li> 
          <li>Si tienes que declarar renta, el crédito de vivienda es uno de los factores que se pueden esgrimir para reducir el pago o acumular saldo a tu favor.  </li> 
          <li>Tienes la opción de elegir entre un crédito en pesos o en UVR.  </li> 
          <li>En UVR tendrás la posibilidad de elegir entre una cuota constante en UVR o capital constante en UVR</li>
        </ul>
        <p>También hay algunos detalles a tener en cuenta. Por ejemplo, suelen ser deudas de larga duración, que pueden alcanzar los 20 años, tiempo durante el cual tendrás que destinar buena parte de tus ingresos al pago de las cuotas. <br><br>
          El crédito de vivienda, además, financia hasta el 80% o 70% del valor comercial de la vivienda, por lo que necesitas tener un ahorro del 30% para asumir el valor de la cuota inicial del inmueble que vas a comprar. 
        </p>
        <h3> Ventajas del Leasing Habitacional</h3>
        <p>Una de las principales ventajas de esta opción es que con ella se puede, en algunos casos, financiar hasta el 90% del valor de la vivienda. Estas son otras de las ventajas </p>
        <ul>
          <li>El valor de la cuota inicial es un porcentaje muy pequeño. El inmueble queda a nombre del Banco, pero te haces cargo de todos gastos mientras lo disfrutas.</li>
          <li>Suele tener tasas de interés más bajas.</li>
          <li>Si tu patrimonio o ingresos son altos y comprar vivienda implica aumentarlo, el Leasing Habitacional es una mejor opción, pues es un contrato de arrendamiento y el inmueble que ocupas no registra ni como activo ni como pasivo en tu contabilidad.</li>
          <li>Los intereses corrientes cancelados en el año anterior de tu obligación son deducibles en tu declaración de renta.</li>
        </ul>
        <p>Debes tener en cuenta, algunos detalles: </p>
        <ul>
          <li>Si buscas tener patrimonio, en el Leasing Habitacional el inmueble estará a nombre del banco y solo pasará a tu nombre si, al final del contrato, decides ejercer la opción de compra, el cual es el derecho que adquieres al terminar de cancelar la obligación para que se transfiera la vivienda a tu nombre o el tercero que desees.</li>
          <li>La opción de compra la acuerdas desde el inicio del contrato y es el último valor que debes cancelar antes de transferir la vivienda a tu nombre o de un tercero.</li>
        </ul>
        <h3> Datos a tener en cuenta </h3>
        <p>Además de lo enunciado anteriormente, es importante que tengas en cuenta: </p>
        <ul>
          <li>Para ambas soluciones va predeterminado un seguro de vida y acceso a pólizas colectivas para asegurar la vivienda.</li>
          <li>La modalidad de pago del Leasing Habitacional es en pesos, para los Créditos de Vivienda puedes elegir entre pesos y UVR. Cuando se trata del pago de la cuota en pesos, hablamos de una cuota fija, mientras que, si hablamos de UVR, la cuota será variable, debido a que se trata de una unidad que varía de acuerdo con la inflación, es decir, el 
          comportamiento de esta variable subirá o bajará la cuota de tu crédito y el saldo del mismo.</li>
          <li>Si eres empleado, jubilado o profesional independiente, puedes acceder a cualquiera de las dos alternativas, solo debes saber cuáles documentos necesitas. </li>        
        </ul>
      </div>
      <div class="breaker"></div>
      <div>
        <input type="radio" name="example_accordion" id="section4" class="accordion__input" onclick="uncheckRadio(this)">
        <label for="section4" class="accordion__label" >
          <div class="mane-cont">
            <div class="mane-cont1"><img src="img/maneimg4.jpg" class="imgacor"></div>
            <div class="mane-cont2"><h2>&nbsp&nbsp hábitos en familia: 15 tips para ahorrar</h2><br>
            <p>Ahorrar es anticiparse a guardar dinero o a cuidarlo en el presente,<br> 
              para gastarlo o invertirlo en el futuro. Que mejor que implementar <br> 
              hábitos financieros desde la infancia de tus hijos, construyendo<br> 
              sueños y metas juntos.</p>
            </div>
          </div>
           </label>
        <div class="accordion__content">
          <p>
            Ahorrar es anticiparse a guardar dinero o a cuidarlo en el presente, para gastarlo o invertirlo en el futuro. Que mejor que implementar hábitos financieros desde la infancia de tus hijos, construyendo sueños y metas juntos. <br><br>
            Sin importar si se gana mucho o poco, ahorrar es un hábito que permite alcanzar metas y formar un patrimonio de una manera inteligente. Que el gasto sea moderado, así como tener disciplina, orden y constancia es lo que facilita la costumbre del ahorro.<br><br>        
            Al hacerlo tienes la tranquilidad de que puedes cumplir tus sueños o afrontar emergencias y gastos inesperados.<br><br>           
            Ahorrar en familia es una buena idea, y si todos aportan desde sus posibilidades (salario, emprendimiento o mesada), seguramente sus frutos serán más dulces al momento de necesitar el dinero o destinarlo a actividades recreativas o inversiones dentro del hogar que les beneficie a todos.<br><br>  
            Piensa en un concepto clave: la salud financiera. Es decir, que tus ingresos no sean mayores que tus gastos. Empieza por lo básico: suma cuánto dinero recibes mensualmente y evita gastar más allá de eso.<br><br>  
            Hacer un presupuesto de ingresos y egresos te ayudará a identificar en dónde y en qué estás gastando el dinero. Fija en este presupuesto el ahorro como un gasto, para que siempre lo tengas presente.<br><br>
          </p>
          <h3>Conoce los 15 tips para ahorrar en familia</h3>
          <p>Los beneficios se ven a corto plazo, por eso te damos 15 tips para el ahorro en familia que te permitirán capitalizar dinero y recursos: </p>
          <ul>
            <li>Enseña a ahorrar a tus hijos, dejando a la vista una alcancía en la que todos depositen monedas. </li>
            <li>Dividir el presupuesto de acuerdo a tus necesidades, resulta muy útil para saber cuánto se gasta al mes, en qué se gasta y conocer, de esos gastos, cuáles se pueden suprimir.</li>
            <li>Anota todo lo que se compra durante el mes, así identificarán cuáles de esos gastos son prescindibles.</li>
            <li>Enséñale a los menores de la casa, que también se ahorra cuidando los recursos como el agua, con duchas cortas y la luz, apagando y desconectando lo que no se está usando. Con este tip se evitan fugas innecesarias de liquidez económica.</li>
            <li>Si sabes cuánto ganas, sabes cuánto puedes gastar; aunque suene imposible, sí puedes reducir tus gastos. Así las cosas, siempre podrás destinar entre un 10 y un 20% de tu salario para ahorrar.</li>
            <li>Aunque hay personas que se casan con marcas o tiendas, siempre se puede buscar un mejor precio de ese producto que consumimos. Comparar precios es una idea ahorradora. </li>
            <li>Consolidar deudas es también una manera de ahorrar, generalmente, las compras de cartera vienen acompañadas de reducción de intereses, lo que resulta conveniente para la familia. Aunque lo ideal sería no excederse en los créditos y compras a plazos. Usa ese dinero que se libera con inteligencia financiera: como un ahorro para imprevistos o, incluso, le puede servir para pagar con anticipación el total de la deuda. }</li>
            <li>En caso de que alguien de la familia requiera hacer una compra urgente por cualquier imprevisto, buscar recomendaciones y ofertas resulta muy útil. Las tiendas online son las que ofrecen mejores descuentos.</li>
            <li>Incluye en el prepuesto el dinero para comprar ropa y zapatos, pero proponte hacerlo en las temporadas de promociones o descuentos, pues al cambiar colección, los precios rebajan hasta en un 80%. ¡Una gran manera de ahorrar!</li>
            <li>Establece reglas claras, objetivos y metas a corto, mediano y largo plazo.</li>
            <li>Tus hijos pueden comenzar su vida financiera con Banconautas, la cuenta para niños entre 0 y 14 años, en donde pueden ahorrar desde sus posibilidades y sin cuota de manejo.</li>
            <li>De acuerdo a los ingresos de cada miembro de la familia, establezcan si el ahorro será semanal, quincenal o mensual.</li>
            <li>Según la Organización de las Naciones Unidas para la Alimentación y la Agricultura, cerca de 1.300 millones de toneladas de comida se desperdician al año, lo que quiere decir que planear bien tus compras puede significarte ahorro. </li>
            <li>Si aprendes cómo gastar dinero inteligentemente, también conocerás dónde ahorrarlo y hasta cómo ganar intereses.</li>
            <li>Utiliza herramientas tecnológicas y aplicaciones que les permita llevar el orden y les genere recordatorios de sus compromisos.</li>
          </ul>
          <h3>Si quieres ahorrar, evita esto</h3>
          <p>Siguiendo los tips para ahorrar en familia, lograrás alcanzar tus metas al plazo que lo proyectes, 
          evitando posponer tus obligaciones y, siempre que sea necesario, asesórate. En Bancolombia podemos contarte cómo hacer que ese ahorro en familia dé sus frutos para beneficio de los tuyos.</p>
          <h3>Si aprenden ahorrar en familia podrán viajar</h3>
          <p>Antes de pensar en endeudarse para realizar el viaje de sus sueños, es mejor dedicar el tiempo para establecer una meta que incluye presupuesto, monto del aporte de cada miembro de la familia y tiempo para lograrlo. 
          Una vez definidos estos pasos, lo siguiente es que cada persona cumpla con sus compromisos, así las cosas, podrán reservar estadía y adquirir tiquetes anticipadamente, comprar tours y hasta guardar para souvenirs sin necesidad de adquirir una deuda a largo plazo y con altos intereses. Recuerda que viajar en temporada baja y perseguir ofertas especiales te permite ahorrar.</p>
        </div>
      </div>
    </div>
  </div><br><br>  


    <footer class="footer">
    <section class="social">
        <p>Encuentranos Banco bienestar</p>
    <div class="links">
        <a href="https://facebook.com">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
        <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkdin.com">
        <i class="fab fa-linkedin"></i>
        </a>
        </div>
    </section>
    </div>

      <h3>Banco bienestar Copyright</h3>
      <img src="img/logo_small.png" alt="" class="footer-img" />
    </footer>


    <script language="JavaScript">
  
      var era;
      var previo=null;
      function uncheckRadio(rbutton){
      if(previo &&previo!=rbutton){previo.era=false;}
      if(rbutton.checked==true && rbutton.era==true){rbutton.checked=false;}
      rbutton.era=rbutton.checked;
      previo=rbutton;
      }
      
      </script>   

</body>
</html>