<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas frecuentes</title>
    <link rel="shortcut icon" href="img/logo_small_icon_only_inverted.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href= "css/estilopreguntasfre.css" rel="stylesheet" type="text/css">
</head>

<body class="body-ejemplo">
    <header id="encabezado">
      <img src="img/logo_large.png" class="logo-menu">
      </header>
      <nav id="menu">
      <ul>
      <li><a href="/index"> Inicio </a></li>
      <li><a href="#"> Acerca de nosotros </a></li>
      <li><a href="#"> Necesidades </a></li>
      <li><a href="#"> productos y servicios </a></li>
     </ul>
  </nav><br>  
<!--  
  <tbody>
      <div class="contenedor-mayor">
  <div class="container-ej">
      <div class="card-ej">
          <div class="face face1">
              <div class="content-ej">
                  <h2>Preguntas frecuentes</h2>
                  <p>¿Tienes dudas sobre el uso <br>
                   de nuestros productos o <br>
                   servicios? Resuélvelas aquí.</p>
              </div>
          </div>
          <div class="face face2">
              <h2>01</h2>
          </div>
      </div>
  </div>

  <div class="container-ej">
    <div class="card-ej">
        <div class="face face1">
            <div class="content-ej">
                <h2>Preguntas frecuentes</h2>
                <p>¿Tienes dudas sobre el uso <br>
                 de nuestros productos o <br>
                 servicios? Resuélvelas aquí.</p>
            </div>
        </div>
        <div class="face face2">
            <h2>02</h2>
        </div>
    </div>
</div>

<div class="container-ej">
    <div class="card-ej">
        <div class="face face1">
            <div class="content-ej">
                <h2>Preguntas frecuentes</h2>
                <p>¿Tienes dudas sobre el uso <br>
                 de nuestros productos o <br>
                 servicios? Resuélvelas aquí.</p>
            </div>
        </div>
        <div class="face face2">
            <h2>03</h2>
        </div>
    </div>
</div>

<div class="container-ej">
    <div class="card-ej">
        <div class="face face1">
            <div class="content-ej">
                <h2>Preguntas frecuentes</h2>
                <p>¿Tienes dudas sobre el uso <br>
                 de nuestros productos o <br>
                 servicios? Resuélvelas aquí.</p>
            </div>
        </div>
        <div class="face face2">
            <h2>04</h2>
        </div>
    </div>
</div>

</div>

</tbody>-->

<section class="caja-fre">
    <div class="contentido-fre">
      <h1>Preguntas frecuentes</h1>
    </div>
  </section><br>


<!-- 
<div class="container">
    <div class="box">
      <div class="imgBx">
        <img src="img1.jpg">
      </div>
      <div class="content">
        <h3>Post title One</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="img2.jpg">
      </div>
      <div class="content">
        <h3>Post title Two</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="img3.jpg">
      </div>
      <div class="content">
        <h3>Post title Three</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div><br>
-->

<div class="container">
    <div class="box">
      <div class="imgBx">
        <img src="img/freimg1.webp">
      </div>
      <div class="content">
        <h3>¿Qué es y cómo evitar el phishing?</h3>
        <p>Uno de los fraudes más comunes es el Phishing, donde se captan tus datos personales y cuentas bancarias por medio de enlaces de correos electrónicos o sitios web que suplantan la imagen de Banco bienestar.
            Recomendaciones ante fraudes, Nunca debes ingresar información personal y financiera en sitios web que no sea la Sucursal Virtual Personas. Ten presente que no te enviamos correos o mensajes para que ingreses tus datos, asimismo no debes proporcionar tus datos personales o financieros durante una llamada telefónica. </p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="img/freimg2.jpg">
      </div>
      <div class="content">
        <h3>¿Dónde consulto si tengo el beneficio del subsidio Ingreso Solidario?</h3>
        <p> para saber si somos la entidad financiera encargada de hacerte la entrega de este aporte del Gobierno puedes seguir este enlace y hacer la consulta con tu número de identificación.

          También puedes verificar si has recibido un mensaje de texto indicando que eres beneficiario o, revisar los movimientos de tu Cuenta de Ahorros o de tu cuenta Bancolombia A La Mano para saber si tienes ingresos correspondientes al subsidio.
          
          Clientes no bancarizados
          
          Si no tienes una cuenta activa y somos nosotros los responsables de hacerte la entrega del subsidio, te enviaremos un mensaje de texto invitándote a abrir una cuenta en Bancolombia A La Mano o Nequi para recibir este Ingreso Solidario.</p>
      </div>
    </div>
</div><br>

<div class="container">
    <div class="box">
      <div class="imgBx">
        <img src="img/freimg3.jpg">
      </div>
      <div class="content">
        <h3>¿Cómo solicito un certificado de deuda con saldo cero?</h3>
        <p>Si vas a solicitarlo, tu producto debe estar cancelado o con un saldo de deuda de $0, además, ten presente que el certificado solo se expide a nombre del titular. Puedes hacer la solicitud comunicándote con la Sucursal Telefónica de tu ciudad o con la Línea de Atención Nacional.
          Recuerda que recibirás el certificado en el servicio Mis Mensajes de Banco bienestar o en tu correo electrónico personal, te invitamos a conocer ¿Dónde puedes consultar Mis Mensajes de Banco bienestar?</p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="img/freimg4.jpg">
      </div>
      <div class="content">
        <h3>¿Cómo puedo saber qué Tarjetas de Crédito tengo?</h3>
        <p>Puedes hacerlo por los siguientes medios.

          A través de la Sucursal Virtual Personas</p>
          
          <ol type="1"> 
            <li>Ingresa a la Sucursal Virtual Personas con tu usuario y contraseña.</li>
            <li>Luego haz clic en Productos en el menú superior de la pantalla.</li>
            <li>Después en Tarjetas de Crédito haz clic en Consultar tarjetas.</li>
            <li>Por último, vas a ver tus Tarjetas de Crédito disponibles.</li>
            </ol>
        <p> 
          Llamando a la Sucursal Telefónica<br>
          Puedes comunicarte con uno de nuestros asesores en la Sucursal Telefónica.<br>
         </p> 
      </div>
    </div>
</div><br>

<div class="container">
    <div class="box">
      <div class="imgBx">
        <img src="img/freimg5.jpg">
      </div>
      <div class="content">
        <h3>¿Es obligatorio pagar un seguro de Tarjeta de Crédito?</h3>
        <p>No es obligatorio pagar un seguro adicional para tu Tarjeta de Crédito, porque estas tarjetas ya tienen asociados beneficios, asistencias y seguros administrados directamente por las franquicias Visa, American Express y Mastercard que varían según el tipo de tarjeta.
        Los seguros complementarios para tus tarjetas ofrecidos por Cardif o Iké Asistencias son servicios adicionales y opcionales, que tienen un costo asociado. Conoce más sobre nuestros seguros y asistencias.</p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="img/freimg6.jpeg">
      </div>
      <div class="content">
        <h3>¿Cuál es la cuota de manejo del plan de mi Cuenta de Ahorros?</h3>
        <p>La cuota de manejo depende del plan y la Tarjeta Débito asociada a la Cuenta de Ahorros que tengas con nosotros. Si no estás seguro de cuál es tu plan, puedes comunicarte con nuestra Sucursal Telefónica, donde te daremos toda la información relacionada con tu plan y la cuota de manejo.
          Conoce más información sobre nuestros planes aquí.</p>
      </div>
    </div>
</div><br>

    <footer class="footer">
    <section class="social">
        <p>Encuentranos Banco bienestar</p>
    <div class="links">
        <a href="https://facebook.com">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
        <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkdin.com">
        <i class="fab fa-linkedin"></i>
        </a>
        </div>
    </section>
    </div>

      <h3>Banco bienestar Copyright</h3>
      <img src="img/logo_small.png" alt="" class="footer-img" />
    </footer>


</body>
</html>