<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprende sobre seguridad</title>
    <link rel="shortcut icon" href="img/logo_small_icon_only_inverted.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="js/jquery-3.6.0.min.js"></script>
    <link href= "css/seguridad.css" rel="stylesheet" type="text/css">
</head>

<body class="body-ejemplo">
    <header id="encabezado">
      <img src="img/logo_large.png" class="logo-menu">
      </header>
      <nav id="menu">
      <ul>
      <li><a href="/index"> Inicio </a></li>
      <li><a href="#"> Acerca de nosotros </a></li>
      <li><a href="#"> Necesidades </a></li>
      <li><a href="#"> productos y servicios </a></li>
     </ul>
  </nav><br>  


<section class="caja-fre">
    <div class="contentido-fre">
      <h1>Aprende sobre seguridad</h1>
    </div>
  </section><br>


  <div class="accordion">
    <div>
      <input type="radio" name="example_accordion" id="section1" class="accordion__input" onclick="uncheckRadio(this)">
      <label for="section1" class="accordion__label">
        <div class="mane-cont">
          <div class="mane-cont1"><img src="img/seguimg1.jpg" class="imgacor"></div>
          <div class="mane-cont2"><h2>&nbsp&nbsp Protégete del cambiazo</h2><br>
          <p>Conoce qué es el cambiazo, para que te protejas cuando estés <br>
            utilizando tus tarjetas. Evita ser víctima de esta modalidad de<br> 
            fraude.
          </p>
          </div>
        </div>
      </label>
      <div class="accordion__content">
        <h3>Conoce los errores más comunes que te llevan a ser víctima de un cambiazo:</h3>
        <ul>
            <li>Permitir que terceros te ayuden a realizar sus transacciones en un cajero automático, datáfono o corresponsal bancario.</li>
            <li>Perder de vista tu tarjeta cuando la entregas a un funcionario que hará una transacción.</li>
            <li>Pedirle ayuda a un extraños si el cajero automático no está funcionando</li>
            <li>No verificar que la tarjeta que te entreguen es la tuya.</li>
            <li>No informar de inmediato si extravías tu tarjeta.</li>
            <li>Escribir tu clave en el celular o en un papel.</li>
            <li>No personalizar tu tarjeta.</li>
        </ul>
        <h3>Cambiazo</h3>
        <p>
         El fraude sucede cuando te encuentras realizando una transacción con tu tarjeta y permites la ayuda de terceras 
         personas, que logran mediante engaños cambiar tu tarjeta por otra con características similares y ver tu clave 
         personal, para posteriormente realizar transacciones fraudulentas.
        </p>
      </div>
    </div>
<div class="breaker"></div>
    <div>
      <input type="radio" name="example_accordion" id="section2" class="accordion__input" onclick="uncheckRadio(this)">
      <label for="section2" class="accordion__label">
        <div class="mane-cont">
          <div class="mane-cont1"><img src="img/seguimg2.jpg" class="imgacor"></div>
          <div class="mane-cont2"><h2>&nbsp&nbsp Suplantación de Funcionarios</h2><br>
          <p>Esta es una modalidad delictiva en donde bandas delincuenciales <br> 
            actúan en el interior de las sucursales bancarias con el objetivo<br> 
            de robar tu dinero después de que hayas realizado un retiro.</p>
          </div>
        </div>
      </label>
      <div class="accordion__content">
        <h3> No aceptes colaboración en la fila </h3>
        <p>
            Mediante esta modalidad individuos de las bandas organizadas se acercan y se identifican como empleados de la entidad, te ofrecen recibir tu dinero a cambio de agilizar el proceso de la fila, cuando te distraes el falso funcionario abandona la entidad y 
            roba tu dinero. 
        </p>
        <h3>Para evitar esta situación te sugerimos:</h3>
        <ul>
            <li>Informar al director de servicios de la Sucursal cuando alguien se acerque a ofrecerte este servicio</li>
            <li>Entregar tu dinero únicamente en las cajas de las sucursales.</li>
            <li>No aceptar la colaboración de nadie.</li>
            <li>Hacer la fila con la mayor tranquilidad posible.</li>
            <li>No hacer comentarios sobre la transacción a realizar y su monto.</li>
        </ul>
      </div>
    </div>
    <div class="breaker"></div>
    <div>
      <input type="radio" name="example_accordion" id="section3" class="accordion__input" onclick="uncheckRadio(this)">
      <label for="section3" class="accordion__label">
        <div class="mane-cont">
          <div class="mane-cont1"><img src="img/seguimg3.jpg" class="imgacor"></div>
          <div class="mane-cont2"><h2>&nbsp&nbsp 5 Recomendaciones para proteger tus datos bancarios</h2><br>
          <p>Existen personas mal intencionadas que buscan robar tu <br> 
            información y tu dinero. Conoce las principales recomendaciones <br> 
            para que tomes las precauciones necesarias y te protejas <br>
            Financiera-Mente.</p>
          </div>
        </div>
      </label>
      <div class="accordion__content">
        <h3>5 datos confidenciales que debes proteger</h3>
        <p>Hay 5 datos confidenciales que NUNCA debes revelar:
        </p>
        <ul> 
          <li>Tu usuario y clave del banco</li>
          <li>El número de tus tarjetas, fecha de vencimiento y código de seguridad.</li>
        </ul>
        <h3>¿Cómo reconocer correos falsos o Phishing?</h3>
        <ul>
          <li>Puedes reconocer que un correo en nombre de Banco bienestar es falso si te piden ingresar a un link o enlace donde te piden diligenciar información confidencial como tu usuario y clave del banco o números de tarjetas.</li>          
          <li>Desconfía de correos electrónicos que contengan un enlace que te lleva directamente a la Sucursal Virtual Personas, Banco bienestar nunca te enviará correos de este tipo.</li>
          <li>Generalmente los correos falsos usan asuntos alarmantes cómo bloqueos de tus productos o cuenta bancaria y embargos.</li>  
        </ul>
        <h3>¿Cómo hacer compras seguras por internet?</h3>
        <ul>
            <li>Antes de hacer cualquier compra o transacción por internet, verifica que estés en un sitio web seguro.</li>
            <li>Asegúrate que la dirección comience por https y la barra del navegador contenga un candado de seguridad cerrado.</li>
            <li>Valida que estés conectado a una red WiFi privada y confiable.</li>
        </ul>
        <h3>¿Cómo hacer retiro de efectivo en cajeros de forma segura?</h3>
        <ul>
            <li>Nunca recibas ayuda de nadie en el cajero automático. Los delincuentes pueden aprovechar para ver tu clave y cambiar tu tarjeta por una falsa.</li>
            <li>Al momento de usar el cajero verifica que no tengas personas a tu alrededor y cubre el teclado con tu mano para digitar la clave.</li>
        </ul>
        <h3>Ten en cuenta esta información al momento de recibir una nueva tarjeta</h3>
        <ul>
            <li>Cuando el banco te hace envío de una nueva tarjeta, nunca te solicita entregar tu tarjeta anterior.</li>
            <li>Tú mismo debes destruir tu tarjeta anterior, cortando el chip, el número de la tarjeta, la fecha de vencimiento, la banda magnética y el código de seguridad.</li>
        </ul>
      </div>
      <div class="breaker"></div>
      <div>
        <input type="radio" name="example_accordion" id="section4" class="accordion__input" onclick="uncheckRadio(this)">
        <label for="section4" class="accordion__label" >
          <div class="mane-cont">
            <div class="mane-cont1"><img src="img/seguimg4.jpg" class="imgacor"></div>
            <div class="mane-cont2"><h2>&nbsp&nbsp Protección de información en internet</h2><br>
            <p>Engloba el conjunto de técnicas que los delincuentes usan para <br> 
               manipularte a través del engaño telefónico, presencial o <br> 
               por internet, buscando apropiarse de tu información confidencial, <br> 
               personal o financiera, como tus números de identificación y las <br> 
               claves de tus cuentas bancarias.
            </p>
            </div>
          </div>
           </label>
        <div class="accordion__content">
          <h3>¿Cómo se apropian de tu información personal?</h3>
          <ul>
              <li>A través de las redes sociales el delincuente puede conocer información confidencial personal, financiera, familiar o laboral publicada.</li>
              <li>A través de llamadas telefónicas el delincuente puede hacerse pasar por un empleado de la entidad financiera para solicitarte la confirmación de tus datos confidenciales, personales o financieros.</li>
              <li>A través de formularios web los delincuentes invitan a participar en rifas y concursos para capturar tus datos confidenciales, personales o financieros.</li>
              <li>A través del abuso de confianza el delincuente busca cercanía para tener acceso al computador personal, a la familia, o a la empresa en la que trabajas.</li>
              <li>Por medio de espionaje el delincuente puede ver tu contraseña de ingreso al computador, tu clave de ingreso en el cajero electrónico, tu usuario y tu clave de ingreso a la Sucursal Virtual.</li>
            </ul>
          <p>Para protegerte debes evitar proporcionar datos personales a través del perfil de las redes sociales como Facebook, Twitter o Pinterest entre otros. Tampoco es prudente diligenciar formularios en sitios web para suscribirse a boletines en línea o participar en rifas, o diligenciar formularios 
            físicos donde te invitan a actualizar datos a cambio de premios.</p>
          <h3>Protégete en las redes sociales</h3>
          <p>Evita publicar tu información confidencial en las redes sociales, pueden hacer un uso inadecuado y causarte perjuicios. Tu seguridad es lo más importante.</p>
        </div>
      </div>
      <div class="breaker"></div>
      <div>
        <input type="radio" name="example_accordion" id="section5" class="accordion__input" onclick="uncheckRadio(this)">
        <label for="section5" class="accordion__label" >
          <div class="mane-cont">
            <div class="mane-cont1"><img src="img/seguimg5.jpg" class="imgacor"></div>
            <div class="mane-cont2"><h2>&nbsp&nbsp Key loggers y Malwares: Evita la captura de tus &nbsp&nbspcontraseñas</h2><br>
            <p>El concepto de malware engloba todo tipo de programa, archivo  <br> 
               o código informático malicioso cuya finalidad es dañar un <br> 
               sistema o dispositivo.
            </p>
            </div>
          </div>
           </label>
        <div class="accordion__content">
            <p>Cuando infecta puede realizar diversas acciones, como el robo de información, el control del sistema o la captura de contraseñas. Los virus, gusanos, troyanos, spyware, adwares, rootkits, keyloggers y clickloggers son diferentes tipos de malware, cada uno con un objetivo de ataque específico. <br><br>
               El key logger es un malware que captura todo lo que escribes y lo envía a una dirección de correo electrónico configurada por el delincuente. El programa informático malicioso generalmente se instala al descargar software gratuito desde internet. También existen dispositivos que se conectan al 
               computador y graban en una memoria interna el texto del teclado. Así capturan tu información, se roban los datos de autenticación y luego realizan transferencias o pagos desde tu cuenta.<br><br>
                Los síntomas de una infección pueden variar. Sin embargo, algunas de las señales que el equipo puede presentar cuando es afectado por algún código malicioso pueden ser:
            </p>
            <ul>
                <li>Movimientos inusuales del mouse.</li>
                <li>Parpadeos de pantalla.</li>
                <li>Cierres repetitivos de la sesión en el momento del logueo o ingreso.</li>
                <li>Ejecución de programas desconocidos en tu sistema.</li>
                <li>Procesamiento lento o comportamiento extraño.</li>
                <li>Aparición de ventanas de mensajes emergentes.</li>
            </ul>
            <h3>¡Ten en cuenta las alertas de tu computador!</h3>
            <p>
                De esta forma podrás prevenir la instalación de malwares que capturan tu información y roban el dinero de tus cuentas.
            </p>

        </div>
      </div>
    </div>
  </div><br><br>  


    <footer class="footer">
    <section class="social">
        <p>Encuentranos Banco bienestar</p>
    <div class="links">
        <a href="https://facebook.com">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
        <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkdin.com">
        <i class="fab fa-linkedin"></i>
        </a>
        </div>
    </section>
    </div>

      <h3>Banco bienestar Copyright</h3>
      <img src="img/logo_small.png" alt="" class="footer-img" />
    </footer>


    <script language="JavaScript">
  
      var era;
      var previo=null;
      function uncheckRadio(rbutton){
      if(previo &&previo!=rbutton){previo.era=false;}
      if(rbutton.checked==true && rbutton.era==true){rbutton.checked=false;}
      rbutton.era=rbutton.checked;
      previo=rbutton;
      }
      
      </script>   

</body>
</html>