<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleado</title>
    <link rel="shortcut icon" href="img/icon.png">
    <link rel="stylesheet" href="css/vistaadmin.css">
</head>
<body>
    <header id="encabezado">
        <img src="img/logo_large.png" class="logo-menu">
        <div class="cuadro">
            <p><%= uss %></p>
            <img src="img/logo_small_icon_only.png" alt="">
            <a href="cerrar">Cerrar sesion</a>
        </div>
        </div>
    </header>

    <div class="menu"><h1>Menu principal</h1></div>

    <section class="contenedor">
        <div class="caja"><a href="/clientesemple">Clientes</a></div>
        <div class="caja"><a href="/lineasemple">Linea de Creditos</a></div>
        <div class="caja"><a href="/creditosemple">Creditos</a></div>
        <div class="caja"><a href="/cuentasemple">Cuentas</a></div>
    </section>
</body>
</html>