colores{
    background-color: rgb(72, 201, 176);
    background-color: rgb(39, 55, 70);
    background-color: rgb(52, 73, 94);
    background-color: rgb(189, 195, 199);
    background-color: rgb(255,255,255);
}

coloresc{
    background-color: rgb(51,152,218);
    background-color: rgb(4,118,189);
    background-color: rgb(196,222,194);
    background-color: rgb(0,0,0);
    background-color: rgb(225,225,225);
}
