/*
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.logo-menu{
    width: 100px;
    height: 80px;
    float: none;
}
header {
    background: rgb(72, 201, 176);
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  
  nav {
    float: right;
  }
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block; 
    padding: 35px;
    color: rgb(39, 55, 70);
    text-decoration: none;
  }
  nav ul li:hover {
    background: rgb(189, 195, 199);
  }
  .contenido {
    padding-top: 80px;
  }
*/


  .logo-menu{
    width: 115px;
    height: 100px;

}

/*.nav-principal{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}*/

#encabezado{
	height: 100px;
	width: 1325px;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
text-align: center;
}

#menu{
	height: 90px;
	width: 1320px;
	margin-top: 20px;
	border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 2px solid rgb(72, 201, 176);
background-color: rgb(72, 201, 176);
vertical-align: middle;
}

#menu {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
  }
#menu ul {
    list-style: none;
    overflow: hidden; 
    display: inline-flex;
    
  }
#menu ul li {
    padding: 10px;
  }
#menu ul li a {
    display: block; 
    padding: 20px;
    color: rgb(39, 55, 70);
    text-decoration: none;
  }
#menu ul li:hover {
    background: rgb(189, 195, 199);
  }